html {
    min-width: 450px;
}

body {
    background-color: rgb(203, 24, 24);
    width:800px;
    margin: auto;
}

.grid-container {
    width: 100%;
    height:90%;
    margin: auto;
}
.row-1 {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    margin: auto;
    margin-top: 10pt;
    font-size: 35px;
}

.row-2 {
    display: flex;
    flex-direction: row;
    background-color: black;
    height:50%;
    width:100%;
    margin: auto;
    color:white;   
}

.btm-row-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    margin: auto;
    justify-content: space-around;
    column-gap: 30px;
}

article {
    margin-left: 25pt;

}

.col-1 {
    width: 33%;
    margin: auto;
}

#title-1-bkg {
    height: 20px;
    width: 80%;
    background-color: red;
    margin: auto;
}

#title-1 {
    margin:auto;
    font-size: 35px;
}

.col-2 {
    width: 33%;;
}

#title-2-bkg {
    height: 20px;
    width: 80%;
    background-color: indianred;
    margin: auto;
}

#title-2 {
    margin:auto;
    font-size: 35px;
}

.col-3 {
    width: 33%;
}

#title-3-bkg {
    height: 20px;
    width: 80%;
    background-color: magenta;
    margin: auto;
}

#title-3 {
    margin:auto;
    font-size: 35px;
}

/* positioning of the titles */

div#title-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#title-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div#title-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 576px){
    body {
        width:450px;
        min-width: 450px;
        height: 1360px;
        background-color: black;
        margin: auto;
    }

    .grid-container {
        width: 450px;
        height: 1310px;
        margin: auto;
        border: 4px solid white;
        margin-top: 10pt;
    }
    
    .row-1 {
        height:450px;
        width: 442px;
        font-size: 3em;
        background-color: red;
        margin-top: 0;;
    }

    .row-2 {
        height:850px;
    }

    .btm-row-container {
        width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;   
        margin-top: 0;
    }

    #title-1-bkg {
        width:50%;
        background-color: green;
    }

    #title-2-bkg {
        width:50%;
        background-color: white;
    }

    #title-3-bkg {
        width:50%;
        background-color: red;
    }


    .article {
        font-size: 1em;
        margin-left: 15px;
    }

    .col-1 {
        
        color:red;
        width:200px;
        margin-top: 30pt;
    }

    .col-2 {
        width:200px;
        margin-top: 30pt;
    }

    .col-3 {
        width:200px;
        margin-top: 30pt;
        color:green;
    }
}